
html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{

    background: radial-gradient(circle at center, #1c3b28 0%, #121212 60%, #0a0a0a 100%);
    background-attachment: fixed;
}

body::before {
    content: "";
    
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(0,255,100,0.2) 0%, transparent 60%);
    filter: blur(100px);
    z-index: 0;
  }
  
  body::after {
    content: "";
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, transparent 60%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
    pointer-events: none;
  }

nav {
    background-color: #0C1017;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 3;
    border-bottom: 0.1px solid #33393D;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}

nav ul li :hover {
    background-color: #1B242C;
    border-radius: 5px;
}

.logo img {
    width: 50px;
    padding: 5px;
    margin-left: 15px;
}

.logo {
    display: flex;
    align-items: center;
}



h3 {
    color: white;
    padding: 10px;
    text-align: center;
}

.list {
    margin-left: 20px;
    margin-top: -10px;

}

#sidebar {
    width: 100%;
    height: 300px;
    background-color: #0C1017;
    position: fixed;
    margin-top: -300px;
    transition: all 0.5s;
    color: white;
    z-index: 2;
}

#penghilang {
    display: none;
}

.togle{
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    background-color: transparent;
}

.sidebar ,ul ,li,a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    
}
.isi {
    margin-top: 4rem;
}

 

.text{
    color: white;
    background-color: #0C1017;
    width: 60%;
    text-align: justify;
    border-radius: 3px;
    border: 1px solid #33393D;
    margin-right: 100px;
}

.penje {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
}



.jd {
    border-bottom: 1px solid #33393D;
}

.wgam{
    width: 40%;
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.jdt{
    padding: 10px 10px 0 15px;
    font-weight: 400;
    font-size: 24px;
}

.jdy {
    font-size: 13px;
    padding: 0 0 5px 15px;
}

model-viewer {
    width: 800px;
    height: 800px;
}

.ww{
    width: 60%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    background: url(image/head.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-top: 5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: #3D7D3D;
    border-radius: 5px;
    width: 50px;
}













.wraper{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.wrapers{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    background-color: #0C1017;
    border: 1px solid #33393D;
    border-radius: 4px;
    width: 70%;
}

.suji {
    padding: 30px;
    font-size: 30px
}

.pisi{
    padding: 30px;
}

.profiljudul {
    border-bottom: 1px solid #33393D;
}




table ,th ,tr td {
    border: 1px solid #33393D;
    background-color: #0C1017;
}

th, td, tr {
    padding: 10px;
}

table {
    width: 70%;
}

.gallery{
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
    padding-top: 150px;
  }
  

  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url('image/header.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  
  .item-2 { 
    background-image: url('image/lantai22.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .item-3 { 
    background-image: url('image/labkom.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .item-4 { 
    background-image: url('image/bekerja.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .item-5 { 
    background-image: url('image/peralatan.png');
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .social{
    position: absolute;
    right: 35px;
    bottom: 0;
    
    img{
      display: block;
      width: 32px;
    }
  }



@media screen and (max-width: 900px) {
    .list {
        display: none;
    }
}

