
html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    
    background: radial-gradient(circle at center, #1c3b28 0%, #121212 60%, #0a0a0a 100%);
    background-attachment: fixed;
}

body::before {
    content: "";
    
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(0,255,100,0.2) 0%, transparent 60%);
    filter: blur(100px);
    z-index: 0;
  }
  
  body::after {
    content: "";
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, transparent 60%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1;
    pointer-events: none;
  }

nav {
    background-color: #0C1017;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 3;
    border-bottom: 0.1px solid #33393D;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}

nav ul li :hover {
    background-color: #1B242C;
    border-radius: 5px;
}

.logo img {
    width: 50px;
    padding: 5px;
    margin-left: 15px;
}

.logo {
    display: flex;
    align-items: center;
}



h3 {
    color: white;
    padding: 10px;
    text-align: center;
}

.list {
    margin-left: 20px;
    margin-top: -10px;

}

#sidebar {
    width: 100%;
    height: 300px;
    background-color: #0C1017;
    position: fixed;
    margin-top: -300px;
    transition: all 0.5s;
    color: white;
    z-index: 2;
}

#penghilang {
    display: none;
}

.togle{
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    background-color: transparent;
}

.sidebar ,ul ,li,a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    
}
.isi {
    margin-top: 4rem;
}

 

.text{
    color: white;
    background-color: #0C1017;
    width: 60%;
    text-align: justify;
    border-radius: 3px;
    border: 1px solid #33393D;
    margin-right: 100px;
}

.penje {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
}



.jd {
    border-bottom: 1px solid #33393D;
}

.wgam{
    width: 40%;
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

.jdt{
    padding: 10px 10px 0 15px;
    font-weight: 400;
    font-size: 24px;
}

.jdy {
    font-size: 13px;
    padding: 0 0 5px 15px;
}

model-viewer {
    width: 800px;
    height: 800px;
}

.ww{
    width: 60%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Home{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    background: url(image/head.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-top: 5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: #3D7D3D;
    border-radius: 5px;
    width: 50px;
}













.wraper{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.wrapers{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    background-color: #0C1017;
    border: 1px solid #33393D;
    border-radius: 4px;
    width: 70%;
}

.suji {
    padding: 30px;
    font-size: 30px
}

.pisi{
    padding: 30px;
}

.profiljudul {
    border-bottom: 1px solid #33393D;
}




table ,th ,tr td {
    border: 1px solid #33393D;
    background-color: #0C1017;
}

th, td, tr {
    padding: 10px;
}

table {
    width: 70%;
}

 
  .buku{
    width: 80%;
    height: 520px;
    background-color: #0C1017;
    border: solid 1px #33393D;
    border-radius: 4px;
  }

  .jubu{
    color: white;
    font-size: 30px;
    padding: 10px;
    padding-left: 15px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: solid 1px #33393D;
  }

.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-container {
    position: relative;
    margin: 50px auto;
    width: 80%;
    color: white;

  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .input-container input[type="text"]:focus {
    font-size: 14px;
  }

  .input-container input[type="text"]{
    font-size: 14px;
  }

  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }


  
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    width: 80%;
    height: 50px;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #3D7D3D;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #ffffff;

  }
  
.komen{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

textarea{
    border: solid white 1px;
    width: 80%;
    color: white;
    height: 100px;
}
  
textarea, placeholder {
    padding: 10px;
}



.containeralbum {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

footer{
    width: 100%;
    height: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0C1017;
    border-top: solid 1px #33393D;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    display: flex;
    
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    color: #f1f1f1;
    font-size: 14px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-left: 10px;
    margin-right: 100px;
    color: #f1f1f1;
    margin-top: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #55acee;
}

.sua{
    color: white;
}


@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


@media screen and (max-width: 900px) {
    .list {
        display: none;
    }

    .profil{
        width: 90%;
    }

    footer{
        display: none;
     }
    model-viewer {
       display: none;
   }
    .text {
       width:90%;
       margin-left:100px;
     }
    table{
      padding-top:100px;
     }
     .wgam{
      display:none;
      }
      .ww{
        width:100%;
       }
     
}

